@page
@model AspNetRunBasicRealWorld.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="my-4"></h1>
    <div class="row">
        @foreach (var category in Model.CategoryList)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-image bg-@category.ImageName">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">@category.Name</h2>
                        <p class="card-text">@category.Description</p>
                    </div>
                    <div class="card-footer">
                        <a asp-area="" asp-page="/Product/Index" class="btn btn-success">All Products</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr class="mb-5">
    <div class="row">
        <div class="col-md-4">
            <partial name="_MobileWidgetPartial" model="@("Download Today")" />
        </div>
        <div class="col-md-4">
            <vc:popular-products count="2" />
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2>Contact Us</h2>
                    <img style="width: 75%; margin: 0 auto; display: block;" src="~/images/placeholder.png" />
                    <p>Questions or feedback about anything? We'd love to hear from you.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
</div>



