@page
@model AspNetRunBasicRealWorld.CategoryModel
@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h1 class="my-4"></h1>
    <div class="row">
        @foreach (var category in Model.CategoryList)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-image bg-@category.ImageName">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">@category.Name</h2>
                        <p class="card-text">@category.Description</p>
                    </div>
                    <div class="card-footer">
                        <a asp-area="" asp-page="/Product/Index" class="btn btn-success">All Products</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />
    <hr class="mb-5" />
    <div class="row">
        <div class="col-md-4">
            <partial name="_MobileWidgetPartial" model="@("Download Today")" />
        </div>
        <div class="col-md-4">
            <vc:popular-products count="2" />
        </div>
        <div class="col-md-4">
            <partial name="_ContactUsPartial" />
        </div>
    </div>
    <hr class="mb-5">
</div>