@page  "/thoughts"
@model FeedbackModel
@{
}

<div class="container">
    <h1 class="mt-4 mb-3">
        Feedback
        <small>Let us know how we're doing.</small>
    </h1>
    <hr />
    <div class="row">
        <p>We care about what you thoughts and feelings - let us know how we can better serve you.</p>
        <br />
        <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Your Name:</label>
                    <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Phone Number:</label>
                    <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Email:</label>
                    <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                </div>
            </div>
            <div class="control-group form-group">
                <label><strong>Flavor</strong> - How did the beverage or food taste?</label>
                <div class="controls">
                    <select class="form-control">
                        <option value="1">Great</option>
                        <option value="1">Good</option>
                        <option value="1">Neutral</option>
                        <option value="1">Fair</option>
                        <option value="1">Poor</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-group">
                <label><strong>Customer Service</strong> - How well did we serve you?</label>
                <div class="controls">
                    <select class="form-control">
                        <option value="1">Great</option>
                        <option value="1">Good</option>
                        <option value="1">Neutral</option>
                        <option value="1">Fair</option>
                        <option value="1">Poor</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-group">
                <label><strong>Pricing</strong> - How was the value?</label>
                <div class="controls">
                    <select class="form-control">
                        <option value="1">Great</option>
                        <option value="1">Good</option>
                        <option value="1">Neutral</option>
                        <option value="1">Fair</option>
                        <option value="1">Poor</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-group">
                <label><strong>Cafe Presentation</strong> - How clean and inviting was the shop?</label>
                <div class="controls">
                    <select class="form-control">
                        <option value="1">Great</option>
                        <option value="1">Good</option>
                        <option value="1">Neutral</option>
                        <option value="1">Fair</option>
                        <option value="1">Poor</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Other Feedback:</label>
                    <textarea rows="5" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                </div>
            </div>
            <div id="success"></div>
            <button type="submit" class="btn btn-success" id="sendMessageButton">Submit Feedback</button>
        </form>
    </div>
</div>