@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('images/banner/banner-bag.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Premium Roasted Coffee</h3>
                    <p>Simply the best.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('images/banner/banner-ground.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Stay Grounded</h3>
                    <p>Take our grounded coffee home to help stay focused.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container">
    <h1 class="my-4">Three options to keep your brain wired.</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-ground">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Coffee</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Full Menu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-bagel">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Carbs</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Full Menu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-table">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Community</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Get Involved</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <div class="col-md-4">
            @*<partial name="MobileWidget" model="@("Download Today")" />*@
        </div>
        <div class="col-md-4">
            @*<vc:popular-brews count="1" />*@
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2>Contact Us</h2>
                    <img style="width: 75%; margin: 0 auto; display: block;" src="~/images/placeholder.png" />
                    <p>Questions or feedback about anything? We'd love to hear from you.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
</div>