@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('images/banner/banner-1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Ultra Slim Wide Screen</h3>
                    <p>4K Monitor TV.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('images/banner/banner-2.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Mobile Phones</h3>
                    <p>Brand New Arrivals.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container">
    <h1 class="my-4"></h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-one">
                </div>
                <div class="card-body">
                    <h2 class="card-title">White Appliances</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a asp-area="" asp-page="/Category/Index" class="btn btn-success">Full Menu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-two">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Smart Watches</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a asp-area="" asp-page="/Category/Index" class="btn btn-success">Full Menu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-tree">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Home Kitchen</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a asp-area="" asp-page="/Contact" class="btn btn-success">Get Involved</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <div class="col-md-4">
            <partial name="_MobileWidgetPartial" model="@("Download Today")" />
        </div>
        <div class="col-md-4">            
            <vc:popular-products count="1" />
        </div>
        <div class="col-md-4">
            <partial name="_ContactUsPartial" />
        </div>
    </div>
    <hr class="mb-5">
</div>