@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('images/banner/banner-1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Ultra Slim Wide Screen</h3>
                    <p>4K Monitor TV.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('images/banner/banner-2.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Mobile Phones</h3>
                    <p>Brand New Arrivals.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container">
    <h1 class="my-4"></h1>

    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="SearchTerm" />
                <span class="input-group-btn">
                    <button class="btn btn-success">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </form>

    <div class="row">
        @foreach (var product in Model.ProductList)
        {
            <partial name="_ProductItemPartial" model="@product" />            
        }
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>


@*<div class="container">
    <h1 class="my-4"></h1>
    <div class="row">
        @foreach (var category in Model.CategoryList)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-image bg-@category.ImageName">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">@category.Name</h2>
                        <p class="card-text">@category.Description</p>
                    </div>
                    <div class="card-footer">
                        <a asp-area="" asp-page="/Product/Index" class="btn btn-success">All Products</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr class="mb-5">
    <div class="row">
        <div class="col-md-4">
            <partial name="_MobileWidgetPartial" model="@("Download Today")" />
        </div>
        <div class="col-md-4">            
            <vc:popular-products count="1" />
        </div>
        <div class="col-md-4">
            <partial name="_ContactUsPartial" />
        </div>
    </div>
    <hr class="mb-5">
</div>*@