@model string

<div class="card">
    <div class="card-body">
        <h2>@Model</h2>
        <div class="description">
            <p>Stay wired on the go with these benefits:</p>
            <ul>
                <li>Coupons and promotions</li>
                <li>Brainiacs club benefits</li>
                <li>Store locator</li>
                <li>Latest menu options</li>
            </ul>
        </div>
        <img class="img-fluid rounded" src="~/images/download-small.png" alt="">
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-success">Download</a>
    </div>
</div>