@page "/Product/{productId}"
@model AspNetRunBasicRealWorld.Pages.Product.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4 mb-3">
        @Model.Product.Name
    </h1>
    <hr />
    <h3>A Taste of Autumn.</h3>

    <div class="row">
        <div class="col-lg-8">
            <img class="img-fluid rounded" src="~/images/Menu/@Model.Product.ImageFile" alt="">
            <hr>
            <p>Available starting at 8:00 AM</p>
            <hr>
            <p class="lead">@Model.Product.Summary</p>
            <blockquote class="blockquote">
                <p class="mb-0">I feel at home every time I take a bite.</p>
                <footer class="blockquote-footer">
                    Actual customer
                    <cite title="Source Title">Happy Customer</cite>
                </footer>
            </blockquote>
            <p>@Model.Product.Description</p>
            <hr>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Nutrition Information</h5>
                <div class="card-body">
                    <p>Note: Nutrition information is an estimate only.  We back our goods fresh every day, so nutrition values may vary depending on preparation and serving size.</p>
                    <ul>
                        <li>Calories: 300</li>
                        <li>Total Fat: 25%</li>
                        <li>Saturated Fat: 15%</li>
                        <li>Fiber: 20%</li>
                        <li>Sugar: 25g</li>
                    </ul>
                </div>
            </div>
            <hr />

            <vc:popular-products count="3" />
            
        </div>
    </div>
</div>