@page "/Product/{productId}"
@model AspNetRunBasicRealWorld.Pages.Product.DetailsModel
@{
    ViewData["Title"] = "Product Details";
}

<div class="container">
    <h1 class="mt-4 mb-3">
        @Model.Product.Name
    </h1>
    <hr />    
    <div class="row">
        <div class="col-lg-8">
            <img class="img-fluid rounded" src="~/images/product/@Model.Product.ImageFile" alt="">
            <hr>
            <p>Available in stock</p>
            <hr>
            <p class="lead">@Model.Product.Summary</p>
            <h3>Product Description</h3>
            <p>@Model.Product.Description</p>
            <hr>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Product Specification</h5>
                <div class="card-body">
                    <p>Note: There is no definite information about the waiting time, depending on the model of the product.</p>
                    <ul>
                        <li>Storage: 64 GB</li>
                        <li>Screen: 5.5-5.9 Inc</li>
                        <li>Battery: 3000 MAH</li>
                        <li>Camera: 12 MP</li>
                        <li>Resolution: 2436 x 1125</li>
                    </ul>
                </div>
            </div>
            <hr />

            <vc:popular-products count="3" />
            <h1 />
        </div>
    </div>
</div>