<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - AspNetRunBasicRealWorld</title>

    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/wiredbrain.css" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Wired Brain Coffee</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Product/Index">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Category/Index">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    @RenderBody()

    <!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="m-0 text-white">Copyright &copy; Wired Brain</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 text-white">Contact Info:</p>
                <p class="m-0 text-white">Phone: 555-555-1234 <br />Address: 1234 Test <br />Email: Care@WiredBrain.com</p>
            </div>
            <div class="col-md-4">
                @if (IsSectionDefined("FooterThird"))
                {
                    RenderSection("FooterThird");
                }
                else
                {
                    <p class="m-0 text-white">Coffee Fact of the Day</p>
                    <p class="m-0 text-white">More cups of coffee are drank every day than there are people on earth. <i>(May not be true)</i></p>
                }
            </div>
        </div>
    </div>
</footer>


    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
