@model IEnumerable<Product>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Popular Products</h2>
        @foreach (var product in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a asp-page="./Product/Details" asp-route-productId="@product.Id" class="color-main">@product.Name</a>
                    </h4>
                    <p class="card-text">@product.Summary</p>
                </div>              
            </div>
        }
    </div>
    <div class="card-footer">
        <a asp-area="" asp-page="/Product/Index" class="btn btn-success">All Products</a>
    </div>
</div>  

