body {
    padding-top: 54px;
    background-color: #F1EFEE !important;
    padding-bottom: 0px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background: black;
    text-align: center;
}


.portfolio-item {
  margin-bottom: 30px;
}

.card-image {
    width: 100%;
    height: 250px;
}

.bg-ground {
    background-image: url("../images/ground.jpg");
    background-size: cover;
}

.bg-bagel {
    background-image: url("../images/bagel.jpg");
    background-size: cover;
    background-position-y: -75px;
}

.bg-table {
    background-image: url("../images/table.jpg");
    background-size: cover;
    background-position-y: -110px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-title a {
    color: #353A40;
}

.portfolio-item img {
    width: 100%;
    max-height: 300px;
}